<h3>Hola</h3>
<p>
  Estás inscrit@ para el curso
</p>

<p>
Para poder disfrutar de tu productos tienes que ingresar a nuestra plataforma de cursos Online
<a href="http://elearning.barbaracastro.com.mx">CLIC PARA IR</a>
<p>

Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:

<p>
    Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:
    Nuestro Horario de Oficina es de 9am a 5pm  de Lunes a Viernes
    <ul>
        <li>Teléfono de Cancún, México:  01 (998) 898 4880</li>
        <li>Internacional: +52 998 898 4880</li>
        <li>Correo: contacto@barbaracastro.com.mx</li>
    </ul>
</p>

Disfruta tus Productos!!!
