<h3>Hola:</h3>
<p>
  Se ha creado una cuenta
  <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('fos_user_security_login') }}">nuestra Plataforma</a>
  con los siguientes datos:

  <ul>
    <li>Usuario: {{ user.username }}<li>
    <li>Contraseña / Password: {{ password }}<li>
  </ul>
</p>

<p>La cuenta ya está activa</p>

<p>

Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:

<ul>
  <li>Número Gratuito en el interior de la República Mexicana : 01 800 890 44 02</li>
  <li>Tel. 01 (998) 8841304</li>
  <li>Internacional: +52 998 8841304</li>
  <li>Whatsapp: +52 1 998 2422158</li>
  <li>Correo: contacto@gabrielguerrero.com</li>
</ul>
</p>

Disfruta tus Productos!!!
