<p>

    <h3>Hola:</h3>
    <p>
        BIENVENIDO A ELEARNING
    </p>
    <p>
        Se ha creado una cuenta en nuestra <a href="http://elearning.barbaracastro.com.mx">Plataforma</a>con los siguientes datos:
    </p>
    <ul>
      <li>Usuario: {{ user.username }}<li>
      <li>Contraseña / Password: {{ password }}<li>
    </ul>
    <p>
        Tu cuenta ya está activa desde este momento y podrás ingresar en el siguiente link: elearning.barbaracastro.com.mx
    </p>

    <p>
        Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:
        Nuestro Horario de Oficina es de 9am a 5pm  de Lunes a Viernes
        <ul>
            <li>Teléfono de Cancún, México:  01 (998) 898 4880</li>
            <li>Teléfono de Cancún, México:  01 (998) 898 4880</li>
            <li>Internacional: +52 998 898 4880</li>
            <li>Correo: contacto@barbaracastro.com.mx</li>
        </ul>
    </p>

    DISFRUTA LA EXPERIENCIA!

</p>
