<h3>Hola</h3>
<p>
  Estás inscrit@ para el curso
</p>

<p>
Para poder disfrutar de tu productos tienes que ingresar a nuestra plataforma de cursos Online
<a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('fos_user_security_login') }}">CLIC PARA IR</a>
<p>

Si tienes algún comentario, no dudes en ponerte en contacto con nosotros:

<ul>
  <li>Número Gratuito en el interior de la República Mexicana : 01 800 890 44 02</li>
  <li>Tel. 01 (998) 8841304</li>
  <li>Internacional: +52 998 8841304</li>
  <li>Whatsapp: +52 1 998 2422158</li>
  <li>Correo: contacto@gabrielguerrero.com</li>
</ul>
</p>

Disfruta tus Productos!!!
