<li role="presentation" class="active"><a href="#">Inicio</a></li>
<li role="presentation"><a href="{{ path('artesanus_front_user_profile') }}">Perfil</a></li>
<li role="presentation"><a href="{{ path('moocsy_front_courses') }}">Programas</a></li>
<li role="presentation"><a href="#">Notificaciones</a></li>
<li role="presentation"><a href="#">Asistencia</a></li>
<li role="presentation"><a href="#">Cerrar sesión</a></li>
