* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #f2f2f2; }

#moocsy {
  width: 100%;
  height: 100%;
  float: left; }

#moocsy-side-bar {
  height: 100%;
  background: #ef552b; }

#moocsy-navbar {
  margin-top: 35%;
  padding: 15%; }

#moocsy-navbar .nav li a {
  background: white;
  border-radius: border_radius_moocsy;
  color: #ef552b;
  font-weight: bold; }

#moocsy-navbar .nav .active a {
  background: #114a61;
  color: #f2f2f2; }

#moocsy-navbar .nav li a:hover {
  color: #78828F; }

#moocsy-content {
  height: 100%;
  overflow: auto;
  padding: 0px; }

.navbar-brand .title {
  color: #ef552b;
  font-size: 30px;
  font-weight: 200; }

.navbar-brand .subtitle {
  color: #114a61;
  font-size: 20px;
  font-weight: 200; }

.dropdown-toggle {
  color: #ef552b !important;
  font-weight: bold !important; }

#moocsy-title-content {
  border: 3px solid #ef552b;
  border-radius: 5px;
  border-top: none;
  color: #114a61;
  font-size: 25px;
  font-weight: 500;
  margin: auto;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  width: 30%; }

#moocsy-wrap-content {
  min-height: 700px;
  height: 100%;
  padding: 5%; }

#moocsy-wrap-content .page-header h1 {
  text-align: center;
  font-size: 80px;
  color: #114a61; }

#moocsy-wrap-content .page-header .lead {
  padding: 20px;
  color: #114a61 !important; }

#moocsy-footer {
  bottom: 0px;
  border-top: 2px solid #dedede;
  padding: 3%; }

/*
 Profile
*/
#moocsy-from {
  padding: 50px; }

#moocsy-from form input, input[type=text], input[type=email], input[type=password] {
  border: 1px;
  background: #dedede;
  padding: 25px;
  font-size: 20px;
  color: #active; }

#moocsy-from form button[type=submit] {
  padding: 10px 25px;
  background: #ef552b;
  border: none;
  color: white;
  font-weight: bold; }

/*
Programs
*/
#programs li {
  height: 220px;
  width: 25%;
  float: left;
  position: relative;
  padding: 15px;
  border-radius: 100%;
  list-style: none;
  margin-top: 10px; }

#programs li img {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  border-radius: 100%;
  border: 5px solid #114a61; }

/*
Program
*/
#warp-program:after {
  width: 100%;
  background: red;
  content: "";
  display: block;
  height: 0;
  clear: both; }

#warp-program .list-group .list-group-item {
  width: 32%;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;
  border: 2px solid #ef552b;
  border-radius: 5px;
  font-weight: bold;
  color: #114a61; }

#warp-program .list-group .active {
  background: #24CA66;
  color: white;
  border: none; }

/*
 Day
*/
.program-nav:after {
  width: 100%;
  position: relative;
  padding: 20px;
  content: "";
  display: block;
  height: 0;
  clear: both; }

.program-nav li {
  width: 100%;
  float: left;
  position: relative;
  background: gris_moocsy;
  margin-top: 10px;
  color: #ef552b;
  font-weight: bold;
  border-bottom: 1px solid #dedede; }

.program-nav li .logo, .description {
  float: left;
  position: relative;
  padding: 20px; }

.program-nav li .logo {
  width: 30%; }

.program-nav li .description {
  width: 70%; }

#nav-item .list-group .list-group-item {
  padding: 20px;
  background: #f2f2f2;
  color: #ef552b; }

#nav-item .list-group .active {
  background: none !important;
  color: #active;
  font-weight: bold;
  border: 3px solid #114a61;
  border-radius: 5px; }

#nav-item .list-group .active:hover {
  background: none !important;
  color: #active;
  font-weight: bold;
  border: 3px solid #114a61;
  border-radius: 5px; }

.btn-course {
  background: #ef552b !important;
  color: #f2f2f2 !important;
  font-weight: bold; }

/*# sourceMappingURL=app.css.map */
